.App {
  text-align: center;
}
body{
  color: #561643;
 background-image: url("./components/clouds.jpg");
 background-repeat:repeat-y;
 background-size: cover;

}
span{
  color: black;
  font-weight: bold;
}

.card{
  width: 80%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 100px;
  background-color:white;
  opacity: 0.9;
  border-radius: 30px;
  animation-name: firstView;
  animation-duration: 3s;
}
@keyframes firstView {
  0%{opacity: 0.9;}
  100%{transform: rotateY(360deg);
  opacity: 1;}
}

.horizontal{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.cardInside{
  width: 80%;
  background-color: transparent;
}
ul{
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button{
  background-color: #561643;
  color: white;
  font-weight: bold;
  border: none;
  height: 35px;
  border-radius: 10px;
}
button:hover{
  cursor: pointer;
  background-color: white;
  color: #561643;
  border: 2px solid #561643;
  font-weight: bold;
}
.cloud{
  display: flex;
  flex-direction: column;
  align-items: center;
}
img{
  width: 60%;
}
:root{
  --size--circule: 200px;
  --color--circule: #a8dadc
}
.turnRigth{
  width: var(--size--circule);
  height: var(--size--circule);
  animation-name: rotar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
  animation-timing-function: linear;
  
}

.turnLeft{
  width: var(--size--circule);
  height: var(--size--circule);
  animation-name: rotar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  position: absolute;
  animation-timing-function: ease;

}
.circule{
  width: 20%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: var(--color--circule);
  
}

@keyframes rotar {
  0%{}
  100%{transform: rotateZ(360deg);}
}
